@font-face {
	font-family: Pacifico;
	src:url(../fonts/Pacifico/Pacifico-Regular.ttf);
}
@font-face {
	font-family: Bebas;
	src:url(../fonts/BebasNeue/BebasNeueRegular.otf);
}
@font-face {
	font-family: HelveticaNeueCyr-Medium;
	src:url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.otf);
}